configs/ga/ga_configs_template.json
configs/gd/ga_configs_template.json
tmp/*
bspyalgo/__pycache__/*
bspyalgo/algorithms/__pycache__/*
bspyalgo/algorithms/genetic/__pycache__/*
bspyalgo/algorithms/genetic/core/__pycache__/*
bspyalgo/algorithms/gradient/__pycache__/*
bspyalgo/platforms/__pycache__/*
bspyalgo/utils/__pycache__/*
.vscode/*
brainspy_instruments.egg-info/*
build/*
dist/*
